@media screen and (min-device-width: 1099px) {
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
        background: #333;
    
  /*  background: #2e2d2d; */
    color: #fff;
}
header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 9999;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #A7C7E7;
    margin-top: 18px;
}
nav{
    display: flex;
    position: sticky;
}
nav ul {
    list-style: none;
    display: flex;
    margin-left: 350px;

}

nav ul li {
    margin: 0 25px;
}

nav ul li a  {
    background-image: linear-gradient(
      to right,
      #A7C7E7,
      #A7C7E7 50%,
      #ffffff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:before{
    content: '';
    background: #A7C7E7;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
   background-position: 0;
  }
  
  nav ul li a:hover::before{
    width: 100%;
  }

.home {
    height: 100vh;
    display: flex;
    flex-direction: row; /* Change from column to row */
    justify-content: space-between; /* Space out the content and image */
    align-items: center;
    text-align: left;
    background: url('###') no-repeat center center/cover;
    padding: 0 10%; /* Add padding to prevent touching the edges */
}

.home-content {
    flex: 1; /* Allow the text to take up available space */
}

.home-img {
    flex: 1; /* Allow the image to take up available space */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 30px;
}

.home-img img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* If you want a circular image */
}

.home a{
    color: #333;
}

.btn {
    background: #A7C7E7;
    color: 333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    transition: background 0.3s;
}
.btn:hover {
    background: #4d7693;
}
.portfolio {
    padding: 50px;
    text-align: center;
    margin-top: 80px;
}
.swiper-wrapper .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
    height: 400px;
}
.item {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    
}

.item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.5s ease;
    filter: grayscale(90%);
}

.item img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(112, 180, 222, 0.84);
    animation: pulse 1s infinite alternate;
    filter: grayscale(0%);
    
}

.resume {
    text-align: center;
    padding: 50px;
}

.resume-container {
    width: 600px;  /* Set the width */
    height: 100px; /* Set the height */
    overflow: hidden; /* Hide the overflowing parts */
    position: relative;
    justify-self: center;
}

.resume-container img {
    width: 100%; /* Make the image match the container width */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Ensures the image covers the container */
    top: -20px;
    display: block;
}

.resume-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Adjust this for more or less blur effect */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.resume a{
    color: #333;
}

.contact {
    padding: 50px;
    text-align: center;
}

.contact a{
    color: #333;
}

form input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
}

form button {
    background: #A7C7E7;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: -200px;
    margin-left: 50px;
}
form button:hover {
    background: #4d7693;
}



/*===== FOR CAROUSEL ============== */
 /* Swiper Container */
 .swiper-container {
    width: 55%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 20px 0;
}

.swiper-wrapper{
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide {
    text-align: center;
    background: #1e1e1e;
    padding: 35px;
    border-radius: 10px;
    flex-shrink: 0;
    width: 250px; /* Adjust based on your design */
    height: auto;
}

.swiper-slide-active {
    transform: scale(1.1); /* Slightly enlarge the active slide */
    transition: transform 0.3s ease-in-out;
}

/* Image Styling */
.work-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.work-img:hover {
    transform: scale(1.1);
    filter: brightness(0.7); /* Darken the image on hover */
}

/* Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
    color: white;
}

/* Fullscreen Image View */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.full-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

}

/* ==============   LAPTOP   ========================= */

@media screen and (min-width: 1100px) and (max-device-width: 1920px) {
    
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #333;
          /*  background: #2e2d2d; */
            color: #fff;
        }
        header {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
            padding: 15px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 50px;
            z-index: 9999;
        }
        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: #A7C7E7;
            margin-top: 18px;
        }
        nav{
            display: flex;
            position: sticky;
        }
        nav ul {
            list-style: none;
            display: flex;
            margin-left: 600px;

        }

        nav ul li {
            margin: 0 25px;
        }
        
        nav ul li a  {
            background-image: linear-gradient(
              to right,
              #A7C7E7,
              #A7C7E7 50%,
              #ffffff 50%
            );
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-block;
            padding: 5px 0;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
          }
          
          nav ul li a:before{
            content: '';
            background: #A7C7E7;
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease-in-out;
          }
          
          nav ul li a:hover {
           background-position: 0;
          }
          
          nav ul li a:hover::before{
            width: 100%;
          }

        .home {
            height: 100vh;
            display: flex;
            flex-direction: row; /* Change from column to row */
            justify-content: space-between; /* Space out the content and image */
            align-items: center;
            text-align: left;
            background: url('###') no-repeat center center/cover;
            padding: 0 10%; /* Add padding to prevent touching the edges */
        }

    
        .home-content {
            flex: 1; /* Allow the text to take up available space */
        }
        
        .home-img {
            flex: 1; /* Allow the image to take up available space */
            display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-left: 30px;
        }
        
        .home-img img {
            max-width: 100%;
            height: auto;
            border-radius: 50%; /* If you want a circular image */
            scale: .8;
        }
        
        .home a{
            color: #333;
        }

             /* Gradient Text Effect */
        .aljon {    
            background-image: linear-gradient(
            to right,
            #A7C7E7,
            #A7C7E7 50%,
            #ffffff 50%
            );
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-block;
            padding: 5px 0;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        /* Underline Effect */
        .aljon::before {
            content: '';
            background: #A7C7E7;
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease-in-out;
        }

        /* Fix: Apply Hover on .home Instead */
        .home:hover .aljon {
            background-position: 0;
            transform: scale(1.1);
            margin-left: 12px;
        }

        .home:hover .aljon::before {
            width: 100%;
        }

        .btn {
            background: #a7c7e7;
            color: 333;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 10px;
            display: inline-block;
            transition: background 0.3s;
        }
        .btn:hover {
            background: #4d7693;
        }
        .portfolio {
            padding: 50px;
            text-align: center;
          
        .swiper-wrapper .swiper-slide {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            position: relative;
            height: 400px;
        }
        .item {
            background: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            text-align: center;
            
        }

        .item img {
            width: 200px;
            height: 200px;
            border-radius: 10px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.5s ease;
            filter: grayscale(90%);
        }
        
        .item img:hover {
            transform: scale(1.1);
            box-shadow: 0 0 15px rgba(112, 180, 222, 0.84);
            animation: pulse 1s infinite alternate;
            filter: grayscale(0%);
            
        }
        
        .resume {
            text-align: center;
            padding: 50px;
        }

        .resume-container {
            width: 600px;  /* Set the width */
            height: 100px; /* Set the height */
            overflow: hidden; /* Hide the overflowing parts */
            position: relative;
            justify-self: center;
        }
        
        .resume-container img {
            width: 100%; /* Make the image match the container width */
            height: auto; /* Maintain aspect ratio */
            position: absolute; /* Ensures the image covers the container */
            top: -20px;
            display: block;
        }
        

        .resume-container::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40%; /* Adjust this for more or less blur effect */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        }

        .resume a{
            color: #333;
        }
        
        .contact {
            padding: 50px;
            text-align: center;
        }
        
        .contact a{
            color: #333;
        }

        form input{
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
        }

        form textarea {
            width: 50%;
            padding: 10px;
            margin-left: -310px;
            margin-top: 10px;
            border: 10px solid black;
            border-radius: 5px;
        }

        form button {
            background: #A7C7E7;
            padding: 10px 20px;
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
            margin-top: -200px;
            margin-left: 50px;
        }
        form button:hover {
            background: #4d7693;
        }



        /*===== FOR CAROUSEL ============== */
         /* Swiper Container */
         .swiper-container {
            width: 55%;
            height: auto;
            overflow: hidden;
            margin: auto;
            padding: 20px 0;
        }

        .swiper-wrapper{
            display: flex;
            transition: transform 0.3s ease-in-out;
        }

        .swiper-slide {
            text-align: center;
            background-image: linear-gradient(to top, rgba(70, 108, 151, 0.89), rgba(34, 32, 32, 0.968));
            padding: 35px;
            border-radius: 10px;
            flex-shrink: 0;
            width: 250px; /* Adjust based on your design */
            height: auto;
        }

        .swiper-slide-active {
            transform: scale(1.1); /* Slightly enlarge the active slide */
            transition: transform 0.3s ease-in-out;
        }

        /* Image Styling */
        .work-img {
            width: 200px;
            height: 200px;
            border-radius: 10px;
            cursor: pointer;
            transition: transform 0.3s ease, filter 0.3s ease;
        }

        .work-img:hover {
            transform: scale(1.1);
            filter: brightness(0.7); /* Darken the image on hover */
        }

        /* Swiper Navigation Buttons */
        .swiper-button-next,
        .swiper-button-prev {
            color: white;
        }

        /* Fullscreen Image View */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
        }

        .full-img {
            max-width: 90%;
            max-height: 90%;
            border-radius: 10px;
        }

    }

/*--------- Media LAPTOP --------------- */

@media screen and (min-device-width: 769px) and (max-device-width:900px){
  

    .home {
        flex-direction: column; /* Change from row to column */
        text-align: center;
    }
    .home-content {
        padding: 20px;
        margin-top: 60px;
    }
    .home-img {
        margin-top: 20px;

    }
    nav ul {
        margin-right: 1900px;
    }

    .portfolio{
        margin-top: 370px;
    }

    .portfolio-items {
        padding: 20px;
    }
    .item {
        width: 100%;
    }
    .resume-container {
        width: 100%;
    }
    .resume-container img {
        top: 0;
    }
    form textarea {
        width: 80%;
        margin-left: 0;
    }
    form button {
        margin-top: 10px;
        margin-left: 0;
    }
    .swiper-container {
        width: 100%;
    }
    .swiper-slide {
        width: 200px;
    }
}


/*---------  MOBILE --------------- */

@media screen and (min-device-width: 389px) and (max-device-width: 430px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #333;
      /*  background: #2e2d2d; */
        color: #fff;
    }
    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
        z-index: 9999;
    }
    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: #A7C7E7	;
        margin-top: 18px;
    }
    nav{
        display: flex;
        position: sticky;
    }
    nav ul {
        list-style: none;
        display: flex;
        margin-left: 350px;
    
    }
    
    nav ul li {
        margin: 0 25px;
    }
    
    nav ul li a  {
        background-image: linear-gradient(
          to right,
          #A7C7E7,
          #A7C7E7 50%,
          #ffffff 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
      }
      
      nav ul li a:before{
        content: '';
        background: #A7C7E7;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }
      
      nav ul li a:hover {
       background-position: 0;
      }
      
      nav ul li a:hover::before{
        width: 100%;
      }
    
    .home {
        height: 100vh;
        display: flex;
        flex-direction: row; /* Change from column to row */
        justify-content: space-between; /* Space out the content and image */
        align-items: center;
        text-align: left;
        background: url('###') no-repeat center center/cover;
        padding: 0 10%; /* Add padding to prevent touching the edges */
    }
    
    .home-content {
        flex: 1; /* Allow the text to take up available space */
    }
    
    .home-img {
        flex: 1; /* Allow the image to take up available space */
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-left: 30px;
    }
    
    .home-img img {
        max-width: 100%;
        height: auto;
        border-radius: 50%; /* If you want a circular image */
    }
    
    .home a{
        color: #333;
    }

    .btn {
        background: #A7C7E7;
        color: 333;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
        display: inline-block;
        transition: background 0.3s;
    }
    .btn:hover {
        background: #4d7693;
    }
    .portfolio {
        padding: 50px;
        text-align: center;
        margin-top: 80px;
    }
    .swiper-wrapper .swiper-slide {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        position: relative;
        height: 400px;
    }
    .item {
        background: #1e1e1e;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        text-align: center;
        
    }
    
    .item img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.5s ease;
        filter: grayscale(90%);
    }
    
    .item img:hover {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(112, 180, 222, 0.84);
        animation: pulse 1s infinite alternate;
        filter: grayscale(0%);
        
    }
    
    .resume {
        text-align: center;
        padding: 50px;
    }
    
    .resume-container {
        width: 600px;  /* Set the width */
        height: 100px; /* Set the height */
        overflow: hidden; /* Hide the overflowing parts */
        position: relative;
        justify-self: center;
    }
    
    .resume-container img {
        width: 100%; /* Make the image match the container width */
        height: auto; /* Maintain aspect ratio */
        position: absolute; /* Ensures the image covers the container */
        top: -20px;
        display: block;
    }
    
    .resume-container::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%; /* Adjust this for more or less blur effect */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    
    .resume a{
        color: #333;
    }
    
    .contact {
        padding: 50px;
        text-align: center;
    }
    
    .contact a{
        color: #333;
    }
    
    form input{
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
    }
    
    form textarea {
        width: 50%;
        padding: 10px;
        margin-top: 10px;
        margin-right: 20px;
        border: none;
        border-radius: 5px;
    }
    
    form button {
        background: #A7C7E7;
        padding: 10px 20px;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
        margin-top: -200px;
        margin-left: 50px;
    }
    form button:hover {
        background: #4d7693;
    }
    
    
    
    /*===== FOR CAROUSEL ============== */
     /* Swiper Container */
     .swiper-container {
        width: 55%;
        height: auto;
        overflow: hidden;
        margin: auto;
        padding: 20px 0;
    }
    
    .swiper-wrapper{
        display: flex;
        transition: transform 0.3s ease-in-out;
    }
    
    .swiper-slide {
        text-align: center;
        background: #1e1e1e;
        padding: 35px;
        border-radius: 10px;
        flex-shrink: 0;
        width: 250px; /* Adjust based on your design */
        height: auto;
    }
    
    .swiper-slide-active {
        transform: scale(1.1); /* Slightly enlarge the active slide */
        transition: transform 0.3s ease-in-out;
    }
    
    /* Image Styling */
    .work-img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    
    .work-img:hover {
        transform: scale(1.1);
        filter: brightness(0.7); /* Darken the image on hover */
    }
    
    /* Swiper Navigation Buttons */
    .swiper-button-next,
    .swiper-button-prev {
        color: white;
    }
    
    /* Fullscreen Image View */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    
    .full-img {
        max-width: 90%;
        max-height: 90%;
        border-radius: 10px;
    }}}
